/*

*/
$content-area-namespace: l- !default;

$content-area-min-width: 30em !default;
$content-area-max-width: 42em !default;
$content-area-breakpoint: 60em !default;

$content-area-spacing-unit: 2rem !default;
$content-area-spacing-unit--small: ($content-area-spacing-unit / 2) !default;
$content-area-spacing-unit--large: ($content-area-spacing-unit * 2) !default;

$content-area-pull-out-side: left !default;
$content-area-main-side: false;


$content-area-pull-out-side-space: 0 $content-area-spacing-unit 0 0 !default;

@if $content-area-pull-out-side == left {
    $content-area-main-side: right;
} @else {
    $content-area-main-side: left;
}

.#{$content-area-namespace}content-area {

    &#{&} {
        margin: 0;
    }

    #{&}__header,
    #{&}__main,
    #{&}__pull-out {
        width: 100%;
        max-width: $content-area-max-width;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media only screen and (min-width: $content-area-breakpoint) {

    .#{$content-area-namespace}content-area {
    
         &#{&} {
            padding: 0 $content-area-spacing-unit;
        }
        
        &#{&}--has-pull-outs {
            //display: -ms-grid;
            display: grid;
                 //-ms-grid-rows: auto auto 1fr;
            grid-template-rows: auto auto 1fr;
                 //-ms-grid-columns: 2fr 1fr;
            grid-template-columns: 2fr 1fr;
            
            .#{$content-area-namespace}content-area__header {
                //ms-grid-column: 1;
                    grid-column: 1;
                //-ms-grid-row: 1;
                    grid-row: 1;
            }
            
            .#{$content-area-namespace}content-area__main {
                //-ms-grid-column: 1;
                    grid-column: 1;
                     //-ms-grid-row: 2;
                //-ms-grid-row-span: 2;
                         grid-row: 2 / 4;
                padding-right: $content-area-spacing-unit;
            }
            
            .#{$content-area-namespace}content-area__pull-out--top {
                //-ms-grid-row: 2;
                grid-row: 2;
            }
            
            .#{$content-area-namespace}content-area__pull-out--bottom {
                //-ms-grid-row: 3;
                grid-row: 3;
            }
        }
    }

}
