// Hmmm. THere's way too much in here already. Needs sorting.

.limit-page-width {
    max-width: 1600px;
    margin: 0 auto;
}






$enough-room-at: $fallback--base-rem-space-unit + $measure + $fallback--base-rem-space-unit + $fallback--base-rem-space-unit + ($measure / 2) + $fallback--base-rem-space-unit;

//@debug $enough-room-at;



.tb-baseline {
    background: transparent url(http://lab.gridlight-design.co.uk/fallback-v1/line-grid-12px.gif) repeat;
}

.tb-outlines h1, .tb-outlines h2, .tb-outlines h3, .tb-outlines h4, .tb-outlines h5, .tb-outlines h6,
.tb-outlines p, .tb-outlines li,
.tb-outlines figcaption {
    background: rgba(0,0,0,0.05);
    outline: 1px dashed rgba(0,0,0,0.2);
}



.sticky-footer-wrap {
    background-color: #fff;
    min-height: 100%;
    height: auto;
}


.feather {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    width: 1.25em;
    height: 1.25em;
}

.svg__link:hover,
.svg__link:active,
.svg__link:focus {
	box-shadow: 0 0 0 ($hover-effect-width) #fff, 0 0 0 ($hover-effect-width * 2) rgba(0,0,0,$hover-effect-opacity);
}



.svg a[href]::after {
	display: none;
}







.gallery {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    -webkit-justify-content: center;
              -ms-flex-pack: center;
            justify-content: center;

    margin: 0 -1rem;
}

.gallery.gallery > * {

    -webkit-flex: 1 1 20em;
        -ms-flex: 1 1 20em;
            flex: 1 1 20em;

    margin: 0 1rem 2rem 1rem;
    max-width: 20em;
}

/*------*/

.gallery-grid.c-signpost .gallery-grid__item {
    max-width: none;
}



.gallery-grid.c-signpost .gallery-grid__item {
         -webkit-flex-basis: 13.5em;
    -ms-flex-preferred-size: 13.5em;
                 flex-basis: 13.5em;
}
/*
@supports (display: grid) {
    .gallery-grid.c-signpost {
        grid-template-columns: repeat(auto-fit, minmax(13.5em, 1fr));
    }

}*/
/*--------------*/
/*
.gallery-grid__item--span-2 {
    grid-column: 1 / span 2;
}
*/

/*---------------*/
/*
.hero-image {
    z-index: -1;
}*/


@media only screen and (max-width: $fallback--breakpoint--enhanced) {
    .js-over-panel-control.over-panel-control {
        margin-right: auto;
    }

    .c-randomise-cta {
        margin-left: $sz-s;
    }

    .c-page-header__last {
        margin-top: $sz-s;
    }
}


@media only screen and (min-width: $fallback--breakpoint--enhanced) {
    .nav-bar.d-bands--bottom {
        border: 0;
    }
}


/*----------------*/



.c-recruitment__current {
    font-size: 2em;
}



/*---------------------*/


.l-blockrow {

}

.l-blockrow__limit-width {
    max-width: 130rem;
    margin: 0 auto;
}



/*-----------*/

// Note Safari 10- doesn't factor in min/max width/height when deciding how many items can fit on 
// a multi-line flex container.
// This means that the usual fab-four technique doesn't work as expected.
.dl-2-col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

        -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

    margin: 0;
}

.dl-2-col dt {
    -webkit-flex: 1 0 8em;
        -ms-flex: 1 0 8em;
            flex: 1 0 8em;
            
    margin: 0;
}

.dl-2-col dd {
    -webkit-flex: 1 0 66%;
        -ms-flex: 1 0 66%;
            flex: 1 0 66%;
            
     -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
             align-self: flex-end;
            
    margin: 0;
    padding-left: 1em;
}

/*------------*/


/*------------------*/

.s-updates.c-panel .c-card__full-link {
    max-width: 41rem;
    margin: 0 auto;
}


/*---------------------*/


/*---------------------*/
.over-panel {
    z-index: 99;
}

.over-panel-control {
    z-index: 999 !important;
}


/*-----------------*/



.l-blockrow:last-child > .d-bands--bottom {
    border: 0 !important;
}
/*-----------------*/


$flex-grid-spacing-unit: $fallback--base-rem-space-unit;

//////


$flex-grid-spacing-unit: 1rem !default;
$flex-grid-spacing-unit--small: ($flex-grid-spacing-unit / 2) !default;
$flex-grid-spacing-unit--large: ($flex-grid-spacing-unit * 2) !default;

.flex-grid {

    &#{&} {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;


        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &#{&}--centered {
        -webkit-justify-content: center;
                cc-ms-flex-pack: center;
                justify-content: center;
    }

    &#{&}--spaced {
        --webkit-justify-content: space-around;
                   -ms-flex-pack: distribute;
                 justify-content: space-around;
    }


        .flex-grid__item {
            margin: 0;

                 -webkit-flex: 1;
            -ms-flex-positive: 1;
                    flex-grow: 1;

            -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                    flex-shrink: 0;

                 -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                         flex-basis: auto;
        }

    /* MODIFIERS */

    /* Widths */

    &.flex-grid--basis-20 .flex-grid__item {
             -webkit-flex-basis: 20em;
        -ms-flex-preferred-size: 20em;
                     flex-basis: 20em;
        max-width: 20em;
    }

    &.flex-grid--basis-15 .flex-grid__item {
             -webkit-flex-basis: 15em;
        -ms-flex-preferred-size: 15em;
                     flex-basis: 15em;
        max-width: 15em;
    }

    &.flex-grid--basis-10 .flex-grid__item {
             -webkit-flex-basis: 10em;
        -ms-flex-preferred-size: 10em;
                     flex-basis: 10em;
        max-width: 10em;
    }
    /* @TODO make breakpoint a variable */


    /* Gutters */

    &.flex-grid--gutter--small {
        margin-left: -($flex-grid-spacing-unit--small / 2);
        margin-right: -($flex-grid-spacing-unit--small / 2);

        .flex-grid__item {
            padding: 0 ($flex-grid-spacing-unit--small / 2) $flex-grid-spacing-unit--small ($flex-grid-spacing-unit--small / 2);
        }
    }

    &.flex-grid--gutter--medium {
        margin-left: -($flex-grid-spacing-unit / 2);
        margin-right: -($flex-grid-spacing-unit / 2);

        .flex-grid__item {
            padding: 0 ($flex-grid-spacing-unit / 2) $flex-grid-spacing-unit ($flex-grid-spacing-unit / 2);
        }
    }


    &.flex-grid--gutter--large {
        margin-left: -($flex-grid-spacing-unit--large / 2);
        margin-right: -($flex-grid-spacing-unit--large / 2);

        .flex-grid__item {
            padding: 0 ($flex-grid-spacing-unit--large / 2) $flex-grid-spacing-unit--large ($flex-grid-spacing-unit--large / 2);
        }
    }


    /* Alignment */

    &.flex-grid--align-center {
                      -ms-flex-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
    }


}




.c-map {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}

    .c-map > * {
        width: 100%;
        height: 100%;
        min-height: 300px;
    }


    // Fix map links inheriting styles:

    .c-map.c-map.c-map .leaflet-container a[href] {
        background-color: transparent;
        margin-bottom: 0;
        border-bottom: 0;
        color: #0078A8;

        &:hover,
        &:active,
        &:focus {
            color: #002b41;
        }
    }

    .c-map.c-map.c-map .leaflet-container .leaflet-bar a[href] {
        background-color: #fff;
        color: #000;

        &:hover,
        &:active,
        &:focus {
            background-color: #f4f4f4;
        }
    }










/***************************/
// Navbar tweaks;

// Contain floats:
.nav-bar::before,
.nav-bar::after {
    content: " ";
    display: table;
}

.nav-bar::after {
    clear: both;
}

.nav-bar__main {
    float: left;
}

.nav-bar__search {
    float: right;
}

.js-over-panel .nav-bar .over-panel {
    top: 3.3rem;
}


@media only screen and (max-width: $content-area-breakpoint) {
    .l-content-area__pull-out.u-space--above {
        margin-top: 0 !important;
    }

    .l-content-area__pull-out .c-panel {
        padding-top: 0 !important;
    }
}



/******************************/
// Keep icons on same line as last word:
a[href].cta--has-icon {
    position: relative;
}

a[href].cta--has-icon::after {
    content: "";
    display: inline;
    padding-left: 1.25em;
}

a[href].cta--has-icon .icon {
    position: absolute;
    bottom: 0;
    transform: translateY(-25%);
}
