/*html,
body {
    min-height: 100%;
    height: auto;
    
    display: -ms-flexbox;
    display: flex;
    
    -ms-flex-direction: column;
        flex-direction: column;
    
    -ms-flex-align: center;
       align-items: center;

}


body,
.sticky-footer-wrap {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}


*/
// Hmmm. THere's way too much in here already. Needs sorting.

.limit-page-width {
    max-width: 1600px;
    margin: 0 auto;
}


.proportional-container__content svg {
    width: 100%;
    height: 100%;
}

/*
.sticky-footer {
    background: #fff;
}
*/

$enough-room-at: $fallback--base-rem-space-unit + $measure + $fallback--base-rem-space-unit + $fallback--base-rem-space-unit + ($measure / 2) + $fallback--base-rem-space-unit;

//@debug $enough-room-at;



.tb-baseline {
    background: transparent url(http://lab.gridlight-design.co.uk/fallback-v1/line-grid-12px.gif) repeat;
}

.tb-outlines h1, .tb-outlines h2, .tb-outlines h3, .tb-outlines h4, .tb-outlines h5, .tb-outlines h6,
.tb-outlines p, .tb-outlines li,
.tb-outlines figcaption {
    background: rgba(0,0,0,0.05);
    outline: 1px dashed rgba(0,0,0,0.2);
}



.sticky-footer-wrap {
    background-color: #fff;
    min-height: 100%;
    height: auto;
}

/*
h1, h2, h3 {
	font-family: 'Nunito', sans-serif;
}
*/
/*
.sticky-footer-expand {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

        -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

              -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.sticky-footer-expand > * {
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
}
*/
/*
.sticky-footer-expand {
    background-color: #000;
}
*/
/*
.sticky-footer-expand main,
.sticky-footer-expand main + aside {
	padding-top: $fallback--base-rem-space-unit;
    padding-left: $fallback--base-rem-space-unit;
    padding-right: $fallback--base-rem-space-unit;
}

.sticky-footer-expand main + aside {
    min-width: ($measure / 2);
    width: calc((#{$enough-room-at} - 100%) * 1000);
    max-width: 100%;
    margin-left: auto;
    margin-bottom: 0;

    -ms-flex-positive: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
}


.sticky-footer-expand main + aside > div {
    max-width: $measure;
    margin: 0 auto;
}

*/

.feather {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    width: 1.25em;
    height: 1.25em;
}

.svg__link:hover,
.svg__link:active,
.svg__link:focus {
	box-shadow: 0 0 0 ($hover-effect-width) #fff, 0 0 0 ($hover-effect-width * 2) rgba(0,0,0,$hover-effect-opacity);
}



.margin-boundary {}



/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e7692+0,3e7692+25,3e7692+25,7b9db2+25,7b9db2+50,c5c0d2+50,c5c0d2+75,6f6992+75,6f6992+100 /
background: #3e7692; /* Old browsers /
background: -moz-linear-gradient(top, #3e7692 0%, #3e7692 25%, #3e7692 25%, #7b9db2 25%, #7b9db2 50%, #c5c0d2 50%, #c5c0d2 75%, #6f6992 75%, #6f6992 100%); /* FF3.6-15 /
background: -webkit-linear-gradient(top, #3e7692 0%,#3e7692 25%,#3e7692 25%,#7b9db2 25%,#7b9db2 50%,#c5c0d2 50%,#c5c0d2 75%,#6f6992 75%,#6f6992 100%); /* Chrome10-25,Safari5.1-6 /
background: linear-gradient(to bottom, #3e7692 0%,#3e7692 25%,#3e7692 25%,#7b9db2 25%,#7b9db2 50%,#c5c0d2 50%,#c5c0d2 75%,#6f6992 75%,#6f6992 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7692', endColorstr='#6f6992',GradientType=0 ); /* IE6-9 */

/* Footer logos */

/*
.footer-logos {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

        -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

              -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
	margin-bottom: $fallback--base-rem-space-unit;
    padding: 0 $fallback--base-rem-space-unit;
}

.footer-logos > * {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

        -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

    -webkit-justify-content: center;
              -ms-flex-pack: center;
            justify-content: center;
            
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

.footer-logos--start .svg {
    //margin-top: $fallback--base-rem-space-unit;
}
.footer-logos--end .svg {
    //margin-top: $fallback--base-rem-space-unit;
    //max-width: 17em;
}

.footer-logos img {
    margin: 0 $fallback--base-rem-space-unit;
}



.footer-logos .svg__link:hover,
.footer-logos .svg__link:active,
.footer-logos .svg__link:focus {
	box-shadow: 0 0 0 ($hover-effect-width * 2) #fff, 0 0 0 ($hover-effect-width * 3) rgba(0,0,0,$hover-effect-opacity);
}
*/
/*
.footer-logos--start {
	margin-right: $fallback--base-rem-space-unit / 2;
}

@media only screen and (min-width: 459px) {

    .footer-logos {
        padding: 0;
    }

    .footer-logos--start .svg {
        margin-left: $fallback--base-rem-space-unit;
    }
    .footer-logos--end .svg {
        margin-right: $fallback--base-rem-space-unit;
    }


    .footer-logos--start {
        -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .footer-logos--end {
                  -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
                justify-content: flex-end;

        margin-left: $fallback--base-rem-space-unit / 2;
    }
}
*/
.svg a[href]::after {
	display: none;
}


/*
.responsive-push-right::before {
    content: "";
    display: block;
}

*/
/*
.header .gallery-grid {
        -ms-flex-pack: justify;
    -webkit-flex-grow: space-between;
      justify-content: space-between;

}

.header .gallery-grid__item {
      -ms-flex-negative: 1;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;


    -ms-flex-positive: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
}
*/
//.header .header__logo {
/*.header .gallery-grid__item {
    max-width: 38rem;
}*/

/*
.header .gallery-grid::after {
    content: "";
    width: 100%;
    display: inline-block;
}

.header .gallery-grid__item {
    display: inline-block;
}

.header .gallery-grid .gallery-grid__item--pushout {
    flex-grow: 2;
    padding: 0;

}*/
/*
.header .gallery-grid__item {
    flex-grow: 1;
    flex-basis: 16em;
    max-width: 25em;
}

*/
/*
.header .gallery-grid::before,
.header .gallery-grid::after {
    //content: "";
    //flex-grow: 0;
}


.header .gallery-grid::before {
    content: "";
}

.header .gallery-grid::after {
    //margin-left: -25%;
}

.header .gallery-grid__item {
    flex-grow: 0;
}
*/
/*
.header .responsive-push-right {
    flex-grow: 99999;
}

.header .responsive-push-right {

}
*/
/*
.header .responsive-push-right::before {
    content: "";
    background: #f00;
    width: 1em;
    min-height: 10px;
    height: calc((119px - 100%) * -1000);
    max-height: 50px;

}
*/


/*
.space-bottom {
	margin-bottom: $fallback--base-rem-space-unit;
}

.text--center {
	text-align: center;
}
*/
.card .card__image img {
    transition: all 0.5s ease;
}


.card > a:hover .card__image img {
    transform: scale(1.2);
}

.card__image {
    margin: -2rem;
}

.card__body h3 {
    margin: 0;
    padding: 1rem 2rem 0;
}

.gallery {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    -webkit-justify-content: center;
              -ms-flex-pack: center;
            justify-content: center;

    margin: 0 -1rem;
}

.gallery.gallery > * {

    -webkit-flex: 1 1 20em;
        -ms-flex: 1 1 20em;
            flex: 1 1 20em;

    margin: 0 1rem 2rem 1rem;
    max-width: 20em;
}

/*------*/

.gallery-grid.c-signpost .gallery-grid__item {
    max-width: none;
}



.gallery-grid.c-signpost .gallery-grid__item {
         -webkit-flex-basis: 13.5em;
    -ms-flex-preferred-size: 13.5em;
                 flex-basis: 13.5em;
}
/*
@supports (display: grid) {
    .gallery-grid.c-signpost {
        grid-template-columns: repeat(auto-fit, minmax(13.5em, 1fr));
    }

}*/
/*--------------*/
/*
.gallery-grid__item--span-2 {
    grid-column: 1 / span 2;
}
*/

/*---------------*/
/*
.hero-image {
    z-index: -1;
}*/


@media only screen and (max-width: $fallback--breakpoint--enhanced) {
    .js-over-panel-control.over-panel-control {
        margin-right: auto;
    }

    .c-randomise-cta {
        margin-left: $sz-s;
    }

    .c-page-header__last {
        margin-top: $sz-s;
    }
}


@media only screen and (min-width: $fallback--breakpoint--enhanced) {
    .nav-bar.d-bands--bottom {
        border: 0;
    }
}


/*----------------*/



.c-recruitment__current {
    font-size: 2em;
}



/*---------------------*/


.l-blockrow {

}

.l-blockrow__limit-width {
    max-width: 130rem;
    margin: 0 auto;
}



/*-----------*/
.dl-2-col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

        -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

    margin: 0;
}

.dl-2-col dt {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    min-width: 34%;
    width: calc((20em - 100%) * 1000);
    max-width: 100%;
    padding-right: 1em;
}

.dl-2-col dd {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    min-width: 66%;
    width: calc((20em - 100%) * 1000);
    max-width: 100%;
    margin: 0;
}

/*------------*/


/*------------------*/

.s-updates.c-panel .c-card__full-link {
    max-width: 41rem;
    margin: 0 auto;
}


/*
.s-updates.c-panel .c-card__image::before {
    content: "";
    position: absolute;
    left: calc(-1 * (50vw - 23.7rem));
    top: 0;
    right: calc(-1 * (50vw - 23.7rem));
    bottom: 0;
    background-color: #ccc;
}
*/
/*---------------------*/


/*---------------------*/
.over-panel {
    z-index: 99;
}

.over-panel-control {
    z-index: 999 !important;
}


/*-----------------*/



.l-blockrow:last-child > .d-bands--bottom {
    border: 0 !important;
}
/*-----------------*/


$flex-grid-spacing-unit: $fallback--base-rem-space-unit;

//////


$flex-grid-spacing-unit: 1rem !default;
$flex-grid-spacing-unit--small: ($flex-grid-spacing-unit / 2) !default;
$flex-grid-spacing-unit--large: ($flex-grid-spacing-unit * 2) !default;

.flex-grid {

    &#{&} {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;


        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    &#{&}--centered {
        -webkit-justify-content: center;
                cc-ms-flex-pack: center;
                justify-content: center;
    }
    
    &#{&}--spaced {
        --webkit-justify-content: space-around;
                   -ms-flex-pack: distribute;
                 justify-content: space-around;
    }
    

        .flex-grid__item {
            margin: 0;
            
                 -webkit-flex: 1;
            -ms-flex-positive: 1;
                    flex-grow: 1;

            -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                    flex-shrink: 0;

                 -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                         flex-basis: auto;
        }

    /* MODIFIERS */
    
    /* Widths */
        
    &.flex-grid--basis-20 .flex-grid__item {
             -webkit-flex-basis: 20em;
        -ms-flex-preferred-size: 20em;
                     flex-basis: 20em;
        max-width: 20em;
    }

    &.flex-grid--basis-15 .flex-grid__item {
             -webkit-flex-basis: 15em;
        -ms-flex-preferred-size: 15em;
                     flex-basis: 15em;
        max-width: 15em;
    }

    &.flex-grid--basis-10 .flex-grid__item {
             -webkit-flex-basis: 10em;
        -ms-flex-preferred-size: 10em;
                     flex-basis: 10em;
        max-width: 10em;
    }
    /* @TODO make breakpoint a variable */


    /* Gutters */
    
    &.flex-grid--gutter--small {
        margin-left: -($flex-grid-spacing-unit--small / 2);
        margin-right: -($flex-grid-spacing-unit--small / 2);
        
        .flex-grid__item {
            padding: 0 ($flex-grid-spacing-unit--small / 2) $flex-grid-spacing-unit--small ($flex-grid-spacing-unit--small / 2);
        }
    }

    &.flex-grid--gutter--medium {
        margin-left: -($flex-grid-spacing-unit / 2);
        margin-right: -($flex-grid-spacing-unit / 2);

        .flex-grid__item {
            padding: 0 ($flex-grid-spacing-unit / 2) $flex-grid-spacing-unit ($flex-grid-spacing-unit / 2);
        }
    }

        
    &.flex-grid--gutter--large {
        margin-left: -($flex-grid-spacing-unit--large / 2);
        margin-right: -($flex-grid-spacing-unit--large / 2);
        
        .flex-grid__item {
            padding: 0 ($flex-grid-spacing-unit--large / 2) $flex-grid-spacing-unit--large ($flex-grid-spacing-unit--large / 2);
        }
    }
    
    
    /* Alignment */
    
    &.flex-grid--align-center {
                      -ms-flex-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
    }
    

}




.c-map {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}

    .c-map > * {
        width: 100%;
        height: 100%;
        min-height: 300px;
    }
    
    
    // Fix map links inheriting styles:
    
    .c-map.c-map.c-map .leaflet-container a[href] {
        background-color: transparent;
        margin-bottom: 0;
        border-bottom: 0;
        color: #0078A8;
        
        &:hover,
        &:active,
        &:focus {
            color: #002b41;
        }
    }
    
    .c-map.c-map.c-map .leaflet-container .leaflet-bar a[href] {
        background-color: #fff;
        color: #000;

        &:hover,
        &:active,
        &:focus {
            background-color: #f4f4f4;
        }
    }
    
    
    
    
    
    
    
    
    
    
/***************************/
// Navbar tweaks;

// Contain floats:
.nav-bar::before,
.nav-bar::after {
    content: " ";
    display: table;
}

.nav-bar::after {
    clear: both;
}

.nav-bar__main {
    float: left;
}

.nav-bar__search {
    float: right;
}

.js-over-panel .nav-bar .over-panel {
    top: 3.3rem;
}


@media only screen and (max-width: $content-area-breakpoint) {
    .l-content-area__pull-out.u-space--above {
        margin-top: 0 !important;
    }
    
    .l-content-area__pull-out .c-panel {
        padding-top: 0 !important;
    }
}
