/* --| SETTINGS |-------------------------------------------------------------------------------- */

//@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:400,700,400italic');
//@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');
//@import url('https://fonts.googleapis.com/css?family=Lato:300,300i|Nunito:400,700');
//font-family: 'Lato', sans-serif;
//font-family: 'Nunito', sans-serif;
$fallback--base-font-family: 'Lato', sans-serif;

$fallback--root-font-size: 10px;

$fallback--base-ui-color: #614776;
$fallback--breakpoint--enhanced: 33em;

//$body-padding: 0;

//$namespace: '.ugc ';
//$namespace: 'main ';


@import '../bower_components/Fall-Back-Start-CSS/_settings.scss';

$max-main-line-length: 0;
$measure: 68rem;

@import '../bower_components/Fall-Back-Start-CSS/_start.scss';