                    <h2>Connect with us</h2>
                    <div class="c-social-badges  u-space--below">
                        <a href="https://twitter.com/npeu_oxford" class="c-badge  c-social-badges--twitter">
                            <img src="/img/social/twitter.svg" onerror="this.src='/img/social/twitter.png'; this.onerror=null;" alt="YouTube" width="200" height="60">
                        </a>

                        <a href="https://www.youtube.com/user/NPEUOxford" class="c-badge  c-social-badges--youtube">
                            <img src="/img/social/youtube.svg" onerror="this.src='/img/social/youtube.png'; this.onerror=null;" alt="Twitter" width="100" height="100">
                        </a>
                    </div>