                        <div class="svg  svg--fixed-height  svg--fixed-height--funder-logo  funder-logo">
							<a class="svg__link" href="https://www.liverpoolwomens.nhs.uk/" rel="external">
								<object aria-hidden="true" class="svg__image" data="img/affiliate-logos/liverpool-womens-trust-logo.svg" tabindex="-1" type="image/svg+xml" height="100">
									<svg display="none"> 
										<image alt="Liverpool Women's NHS Foundation Trust" class="svg__fallback-image" height="100" src="img/affiliate-logos/liverpool-womens-trust-logo.png"></image>
									</svg>
									<span class="svg__fallback-text-alpha" data-content="Liverpool Women's NHS Foundation Trust"></span>
								</object>
								<div><i class="svg__fallback-text-beta">Liverpool Women's NHS Foundation Trust</i></div>
							</a>
						</div>
						<p>
							<small>
								<strong>Funding Acknowledgment:</strong> the Minidex trial is funded by the <a href="https://www.nihr.ac.uk/funding-and-support/funding-for-research-studies/funding-programmes/efficacy-and-mechanism-evaluation/" rel="external">National Institute for Health Research EME Programme</a>.
							</small>
						</p>