                <section class="c-panel--module">
                    <h2>Support</h2>
                    <div class="l-col-to-row">
                        <div class="l-col-to-row__item  ff-width-100--15--50  l-center">
                            <div class="u-padding--s">
                                <div class="svg  svg--fluid">
                                    <a class="svg__link" href="http://www.ssnap.org.uk" rel="external">
                                        <object aria-hidden="true" class="svg__image" data="/img/affiliate-logos/ssnap-logo.svg" height="100" tabindex="-1" type="image/svg+xml">#
                                            <svg display="none">
                                                <image alt="SSNAP" class="svg__fallback-image" height="100" src="/img/affiliate-logos/ssnap-logo.png"></image>
                                            </svg>
                                        </object>
                                        <div>
                                            <i class="svg__fallback-text-beta">SSNAP</i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-to-row__item  ff-width-100--15--50">
                            <div class="u-padding--s">
                                <div class="svg  svg--fluid">
                                    <a class="svg__link" href="https://www.bliss.org.uk/" rel="external">
                                        <object aria-hidden="true" class="svg__image" data="/img/affiliate-logos/bliss-logo.svg" height="100" tabindex="-1" type="image/svg+xml">
                                            <svg display="none">
                                                <image alt="BLISS" class="svg__fallback-image" height="100" src="/img/affiliate-logos/bliss-logo.png"></image>
                                            </svg>
                                        </object>
                                        <div>
                                            <i class="svg__fallback-text-beta">BLISS</i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>