                    <section class="c-panel t-{{ page.project }}--dark" data-wf="Module">
                        <div class="c-info-box">
                            <h2>Latest News</h2>

                            <article>
                                <h3>A Headline</h3>
                                <p>And some intro text to give a little more info.</p>
                            </article>

                            <article>
                                <h3>An Older Headline</h3>
                            </article>

                            <article>
                                <h3>Another Old Headline Here</h3>
                            </article>
                        </div>
                    </section>