                <section class="c-panel--module">
                    <div class="n-section-menu">
                        <h2 class="n-section-menu__title">In this section</h2>
                        <!--  n-section-menu__item--active #main -->
                        <ul class="n-section-menu__list">
                            <li class="n-section-menu__item"><a href="/frosttie/clinicians/training" class="n-section-menu__link"><span>Training</span></a></li>
                            <li class="n-section-menu__item"><a href="/frosttie/clinicians/guidance-sheets" class="n-section-menu__link"><span>Guidance Sheets</span></a></li>
                            <li class="n-section-menu__item"><a href="/frosttie/clinicians/data-collection-forms" class="n-section-menu__link"><span>Data Collection Forms</span></a></li>
                            <li class="n-section-menu__item"><a href="/frosttie/clinicians/faqs" class="n-section-menu__link"><span>FAQ's</span></a></li>
                        </ul>
                    </div>
                </section>