                <div class="c-sign  c-sign--span-all  d-background--sloped  t-{{ page.project }}--alt">
                        <a href="/{{ page.project }}/recruitment" class="c-sign__link">
                            <span class="c-sign__centered-content">
                                <span class="l-col-to-row">
                                    <span class="l-col-to-row__item  ff-width-100--30--50">
                                        <span class="c-sign__text  c-sign__text--large">Recruitment total: 313</span><br>
                                        <span class="c-sign__text  c-sign__text--small">(Target: 1020)</span>
                                        <div class="c-meter">
                                            <meter min="0" max="1020" value="313">
                                                <span style="width: calc(175 / 1020 * 100%);">131 out of 1020 recruited.</span>
                                            </meter>
                                            <div aria-hidden="true" class="c-meter__marker" style="width: calc(313 / 1020 * 100%);" data-value="313"></div>
                                        </div>
                                    </span>
                                    <span class="l-col-to-row__item  ff-width-100--30--50  u-padding--sides--xs">
                                        <span class="c-sign__text  c-sign__text">The latest infant was recruited at <b>Princess Anne Hospital, Southampton</b> on <b>13 February 2019</b></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>