                    <section class="" data-wf="Module">
                        <h2>Latest News</h2>
                        <div class="gallery">
                            <article class="card">
                                <a href="#news1">
                                    <div class="card__image  proportional-container  proportional-container--16-9">
                                        <div class="proportional-container__content">
                                            <img src="/img/minidex/news/golden-trophy.jpg" alt="" class="proportional-container__image-cover">
                                        </div>
                                    </div>
                                    <div class="card__body">
                                        <h3>Record month for Minidex!</h3>
                                        <!--<p>Fantastic effort from the whole Minidex team this January, we have broken the Minidex recruitment record with 5 participants this month! This brings the recruitment total up to 17. Thank you to all the families who agreed to take part, and particular congratulations to the site teams in Coventry, Hull, Leicester, Leeds and Preston – keep up the great work!</p>-->
                                    </div>
                                </a>
                            </article>

                            <article class="card">
                                <a href="#news2">
                                    <div class="card__image  proportional-container  proportional-container--16-9">
                                        <div class="proportional-container__content">
                                            <img src="/img/minidex/news/liverpool-womens-hospital.jpg" alt="" class="proportional-container__image-cover">
                                        </div>
                                    </div>
                                    <div class="card__body">
                                        <h3>First recruit for the Minidex trial!</h3>
                                        <!--<p>Fantastic effort from the whole Minidex team this January, we have broken the Minidex recruitment record with 5 participants this month! This brings the recruitment total up to 17. Thank you to all the families who agreed to take part, and particular congratulations to the site teams in Coventry, Hull, Leicester, Leeds and Preston – keep up the great work!</p>-->
                                    </div>
                                </a>
                            </article>
                            
                            <article class="card">
                                <a href="#news3">
                                    <div class="card__image  proportional-container  proportional-container--16-9">
                                        <div class="proportional-container__content">
                                            <img src="/img/minidex/news/smile-baby-boy.jpg" alt="" class="proportional-container__image-cover">
                                        </div>
                                    </div>
                                    <div class="card__body">
                                        <h3>Minidex opens for recruitment!</h3>
                                        <!--<p>Fantastic effort from the whole Minidex team this January, we have broken the Minidex recruitment record with 5 participants this month! This brings the recruitment total up to 17. Thank you to all the families who agreed to take part, and particular congratulations to the site teams in Coventry, Hull, Leicester, Leeds and Preston – keep up the great work!</p>-->
                                    </div>
                                </a>
                            </article>
                        </div>
                        <p>
                            <a href="#news-all">See all news</a>
                        </p>
                    </section>