/*

*/

$badge-namespace: c- !default;

.#{$badge-namespace}badge {
    display: block;

    /*
        1. This is to provide positioning context for the ::after pseudo-element.
        2. This is so a broken image is still 100%Z.
    */
        img {

        position: relative; /* 1 */

        display: block; /* 2 */

        width: 100%;

        height: auto;

        margin-bottom: 0.5em;

        border-style: none;

    }
}

a[href].#{$badge-namespace}badge {
    border: 0;
    
    &:hover,
    &:active,
    &:focus {
        border: 0;
        box-shadow: 0 0 0 0.6rem #fff, 0 0 0 1.2rem rgba(0,0,0,.2);
    }
}
