/*
*/
$contact-list-namespace: c- !default;
$theme-namespace: t- !default;

$theme-only: false !default;

// Note - no theme yet!

// We don't need this if we're only themeing the pattern:
@if $theme-only == false {

    .#{$contact-list-namespace}contact-list {

        &#{&} {

            dt {
                display: none;
            }
        }
    }

    .#{$contact-list-namespace}contact-avatar {
        float: left;
        margin: 0.5em;
    }
}