---
layout: structure--project
---
{% assign project_data = site.data.projects[page.project] %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom  t-{{ page.project }}">
        <section class="l-col-to-row">
            <div class="l-col-to-ro__item  ff-width-100--60--50">
                <div class="c-panel  u-padding--sides--l">
                    <div class="u-max-measure">
                        <h1>
                            PRU-MNHC
                        </h1>

                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="l-col-to-ro__item  ff-width-100--60--50">
                <div class="u-image-cover  u-image-cover--min-20">
                    <div class="u-image-cover__inner">
                        {% comment %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none" stroke="#555" style="
                            height: 100%;
                            width: 100%;
                            border: 1px solid #555;
                            background: #eee;
                        "><g stroke-width="1px">
                            <line x1="0" y1="0" x2="1" y2="1" vector-effect="non-scaling-stroke"></line>
                            <line x1="1" y1="0" x2="0" y2="1" vector-effect="non-scaling-stroke"></line>
                        </g></svg>{% endcomment %}
                        <img src="/img/prumnhc/218582881.jpg" alt="" class="proportional-container__image-cover">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom  t-{{ page.project }}">
        <section class="u-margin--bottom--none  u-padding--sides  u-padding--top  s-updates  c-panel  u-space--none  t-prumnhc--very-dark">
            <h2>Themes</h2>
            <ul class="flex-grid  flex-grid--spaced  flex-grid--basis-15  flex-grid--gutter--medium">
                <li class="flex-grid__item">
                    <div class="c-card  t-prumnhc  d-background--sloped">
                        <a href="#news1" class="c-card__full-link  t-prumnhc  u-fill-height--column">
                            <div class="c-card__image">
                                <div class="proportional-container  proportional-container--2-1">
                                    <div class="proportional-container__content">
                                        <img src="/img/prumnhc/243722344.jpg" alt="" class="proportional-container__image-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="c-card__main">

                                <h2 class="c-card__title">Theme 1: Pre-conception health and prevention across the maternity pathway</h2>
                            </div>
                            </a>
                    </div>

                </li>
                <li class="flex-grid__item">
                    <div class="c-card  t-prumnhc  d-background--sloped">
                        <a href="#news1" class="c-card__full-link  t-prumnhc  u-fill-height--column">
                            <div class="c-card__image">
                                <div class="proportional-container  proportional-container--2-1">
                                    <div class="proportional-container__content">
                                        <img src="/img/prumnhc/31746467.jpg" alt="" class="proportional-container__image-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="c-card__main">

                                <h2 class="c-card__title">Theme 2: Pregnancy loss and perinatal morbidity and mortality</h2>
                            </div>
                        </a>
                    </div>

                </li>
                <li class="flex-grid__item">
                    <div class="c-card  t-prumnhc  d-background--sloped">
                        <a href="#news1" class="c-card__full-link  t-prumnhc  u-fill-height--column">
                            <div class="c-card__image">
                                <div class="proportional-container  proportional-container--2-1">
                                    <div class="proportional-container__content">
                                        <img src="/img/prumnhc/51457909.jpg" alt="" class="proportional-container__image-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="c-card__main">

                                <h2 class="c-card__title">Theme 3: Maternal health outcomes and experience of care</h2>
                            </div>
                        </a>
                    </div>

                </li>
                <li class="flex-grid__item">
                    <div class="c-card  t-prumnhc  d-background--sloped">
                        <a href="#news1" class="c-card__full-link  t-prumnhc  u-fill-height--column">
                            <div class="c-card__image">
                                <div class="proportional-container  proportional-container--2-1">
                                    <div class="proportional-container__content">
                                        <img src="/img/prumnhc/218720437.jpg" alt="" class="proportional-container__image-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="c-card__main">

                                <h2 class="c-card__title">Theme 4: Neonatal care</h2>
                            </div>
                        </a>
                    </div>

                </li>
                <li class="flex-grid__item">
                    <div class="c-card  t-prumnhc  d-background--sloped">
                        <a href="#news1" class="c-card__full-link  t-prumnhc  u-fill-height--column">
                            <div class="c-card__image">
                                <div class="proportional-container  proportional-container--2-1">
                                    <div class="proportional-container__content">
                                        <img src="/img/prumnhc/286241107.jpg" alt="" class="proportional-container__image-cover">
                                    </div>
                                </div>
                            </div>
                            <div class="c-card__main">

                                <h2 class="c-card__title">Theme 5: Health systems</h2>
                            </div>
                        </a>
                    </div>

                </li>
            </ul>
        </section>
    </div>
</div>


<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom  t-{{ page.project }}">
        <div class="l-col-to-row">
            <div class="l-col-to-ro__item  ff-width-100--60--66-666">
                <section class="u-margin--bottom--none  u-padding--sides  u-padding--top  s-updates  c-panel  u-space--none  t-white">
                    <h2>PRU-MNHC Co-investigator team</h2>
                    <ul class="gallery-grid  gallery-grid--gutter--medium  gallery-grid--basis-20">

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659">
                                        <span>Jenny Kurinczuk</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/jenny-kurinczuk-659-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>(Director), Professor of Perinatal Epidemiology, Director, National Perinatal Epidemiology Unit, University of Oxford</p>
                                </div>
                            </article>
                        </li>
                        
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/fiona-alderdice-860">
                                        <span>Fiona Alderdice</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/fiona-alderdice-860-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Senior Social Scientist</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Charlotte Bevan</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>PPPI</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.birmingham.ac.uk/staff/profiles/applied-health/brocklehurst-peter.aspx">
                                        <span>Peter Brocklehurst</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/peter-brocklehurst-606-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Perinatal Epidemiology / Co-Director of PRU-MHC, NPEU</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/claire-carson-628">
                                        <span>Claire Carson</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/claire-carson-628-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Senior Researcher in Epidemiology</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659">
                                        <span>Elizabeth Draper</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Paediatric and Perinatal Epidemiology, Department of Health Sciences, University of Leicester</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Chris Gale</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Clinical Senior Lecturer in Neonatal Medicine and Honorary Consultant, Neonatal Medicine, Imperial College London</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Alex Heazell</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Obstetrics and Clinical Director of the Tommy's Research Centre, Manchester Academic Health Science Centre, University of Mancheste</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Sara Kenyon</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Evidence Based Maternity Care, Institute of Applied Health Research, University of Birmingham</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/marian-knight-629">
                                        <span>Marian Knight</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/marian-knight-629-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Maternal and Child Population Health</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Neena Modi</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Neonatal Medicine, Imperial College London</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Rachel Plachcinski</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>PPPI</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/maria-quigley-648">
                                        <span>Maria Quigley</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/maria-quigley-648-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor of Statistical Epidemiology</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/oliver-rivero-arias-774">
                                        <span>Oliver Rivero Arias</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/oliver-rivero-arias-774-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Associate Professor in Health Economics - Senior Health Economist</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="https://www.npeu.ox.ac.uk/people/rachel-rowe-603">
                                        <span>Rachel Rowe</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://www.npeu.ox.ac.uk/img/avatars/rachel-rowe-603-avatar.jpg?s=144" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>University Research Lecturer</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="http://www.cardiff.ac.uk/people/view/39335-sanders-julia">
                                        <span>Julia Sanders</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>PPPI</p>
                                </div>
                            </article>
                        </li>
                        
                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Dimitrios Siassakos</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Reader in Obstetrics, University College London and University College Hospital</p>
                                </div>
                            </article>
                        </li>

                        <li class="gallery-grid__item">
                            <article class="c-glimpse">
                                <h3 class="c-glimpse__heading">
                                    <a href="#">
                                        <span>Alan Stein</span>
                                        <div class="c-glimpse__image">
                                            <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" width="72px">
                                        </div>
                                    </a>
                                </h3>
                                <div class="c-glimpse__content">
                                    <p>Professor Child and Adolescent Psychiatry, Head of Section Child and Adolescent Psychiatry, University of Oxford</p>
                                </div>
                            </article>
                        </li>



                    </ul>
                    <p>
                        <a href="#" class="cta">Find out more about the PRU Research team  <svg display="none" class="icon  feather"><use xlink:href="#icon-chevron-right"></use></svg></a>
                        <br><small>Links to page that displays all PRU staff.</small>
                    </p>

                </section>
            </div>
            
            <div class="l-col-to-ro__item  ff-width-100--60--33-333  t-prumnhc--light  d-background--very-light">
                <section class="u-padding--sides  u-padding--top  s-updates  c-panel  u-space--none  t-prumnhc--very-light">
                    <h2>Contact Us</h2>
                    <div class="u-space--below  t-prumnhc d-bands">
                        <div class="c-map">
                            <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-1.21574715729,51.751613839,13,0,0/600x600?access_token=pk.eyJ1IjoiYW5keWtraXJrIiwiYSI6ImNqbGh3a3FnbzA1aDMza204eDJnMmVhMmMifQ.I7diR0BZvQWzn2okKy6qIQ" alt="" id="map_116">
                            <p>No javascript available, can't display an interactive map.
                        </div>

                        <script>
                        leafletMapInitialize('map_116', {"lat":51.7516138390000008939750841818749904632568359375,"lng":-1.215747157290000046714339987374842166900634765625,"zoom":13,"token":"pk.eyJ1IjoiYW5keWtraXJrIiwiYSI6ImNqbGh3a3FnbzA1aDMza204eDJnMmVhMmMifQ.I7diR0BZvQWzn2okKy6qIQ"}, [{"lat":"true","lng":"true","color":"blue","popup":"NPEU Address"}]);
                        </script> 
                    </div>

                    <dl class="c-contact-list" itemscope="itemscope" itemtype="http://schema.org/Person">
                        <dt>Name</dt>
                        <dd class="name"><svg display="none" class="icon  feather"><use xlink:href="#icon-person"></use></svg><a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659"><span itemprop="honorificPrefix">Prof</span> <span itemprop="name">Jenny Kurinczuk</span></a></dd>
                        <dt>Organisation</dt>
                        <dd itemprop="name" class=""><svg display="none" class="icon  feather"><use xlink:href="#icon-building"></use></svg>Policy Research Unit in Maternal Health &amp; Care (PRU-MHC)</dd>
                        <dt>Address</dt>
                        <dd itemprop="streetAddress" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                            <span itemprop="addressLocality">National Perinatal Epidemiology Unit (NPEU)<br>
                            Nuffield Department of Population Health<br>
                            University of Oxford<br>
                            Old Road Campus</span><br>
                            <span itemprop="addressLocality">Oxford</span><br>
                            <span itemprop="postalCode">OX3 7LF</span>
                        </dd>
                        <dt>Email</dt>
                        <dd itemprop="email" class=""><svg display="none" class="icon  feather"><use xlink:href="#icon-email"></use></svg><span itemprop="email">jenny.kurinczuk@npeu.ox.ac.uk</span></dd>
                        <dt>Telephone</dt>
                        <dd itemprop="telephone" class=""><svg display="none" class="icon  feather"><use xlink:href="#icon-phone"></use></svg>01865 289719</dd>
                        <dt>Fax</dt>
                        <dd itemprop="faxNumber" class=""><svg display="none" class="icon  feather"><use xlink:href="#icon-fax"></use></svg>01865 289701</dd>
                    </dl>
                    
                    
                </section>
                <section class="u-margin--bottom--none  u-padding--sides  u-padding--top  s-updates  c-panel  u-space--none  t-prumnhc--very-light">
                    <h2>PPPI</h2>
                    <p>
                        Parent, Patient and Public Involvement (PPPI) is at the heart of our vision for the PRU-MNHC and is embedded in every aspect of strategy and delivery. Co-investigators Rachel Plachcinski and Charlotte Bevan are the co-chairs of our PPPI stakeholder network meetings, and support wider stakeholder engagement for our overall strategy and individual projects. Through our PPPI strategy we aim to identify effective ways to empower service users to shape the work of the PRU-MNHC through shared decision making. The integration of the perceptions and experiences of patients, the public, parents and families in our work is essential to produce high quality, inclusive research, policy and care.
                    </p>
                    <p>
                        <a href="#" class="cta">Find out more about our PPPI work  <svg display="none" class="icon  feather"><use xlink:href="#icon-chevron-right"></use></svg></a>
                        <br><small>Links to page about PPPI.</small>
                    </p>
 
                </section>
            </div>
        </div>
    </div>
</div>

{% if page.display_funder %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom  t-{{ page.project }}">
        <div class="l-col-to-row">

            <div class="l-col-to-row__item  ff-width-100--50--66-666">
                <div class="u-image-cover">
                    <div class="u-image-cover__inner">
                        <img class="u-image-cover__image" src="/img/{{ page.project }}/baby-asleep-198666544.jpg" width="150" alt="">
                    </div>
                </div>
            </div>


            <div class="l-col-to-row__item  ff-width-100--50--33-333">
                <div class="c-panel  u-fill-heightX">
                    {% capture funder_module %}module__funder--{{ page.project }}.html{% endcapture %}
                    {% include {{ funder_module }} %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}