---
layout: structure--project
---
<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX">

        <div class="l-primary-content  d-bands--bottom  t-{{ page.project }}{% if page.has_pull_outs or page.section_menu or page.toc %}  l-primary-content--has-pull-outs{% endif %}">

            <div class="l-primary-content__header">
            
                {% include module__breadcrumbs.html %}
                
                <div class="c-panel  c-longform-content">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
            
            <div class="l-primary-content__pull-out  l-primary-content__pull-out--top  d-background--light  t-neutral">
                {% assign total_h2 = content | split: '<h2' | size | minus: 1 %}
                {% if total_h2 > 2 %}
                <div class="c-panel">

                    {% include module__toc.html %}

                </div>
                {% endif %}

                {% if page.main_top_modules != false %}
                {% for module_name in page.main_top_modules %}
                <div class="c-panel">
                
                    {% capture module_file %}module__main-top--{{ page.project }}--{{ module_name }}.html{% endcapture %}
                    {% include {{ module_file }} %}

                </div>
                {% endfor %}
                {% endif %}
                
                {% if page.section_menu %}
                <div class="c-panel">

                    {% capture section_menu_module %}module__section-menu--{{ page.project }}--{{ page.section_menu }}.html{% endcapture %}
                    {% include {{ section_menu_module }} %}

                </div>
                {% endif %}
            </div> 

            <div class="l-primary-content__main">


                {% comment %}<!-- keep for now
                {% if page.headline_image %}
                <div id="headline_image" class="l-primary-content__main__headline_image">
                    <div class="l-proportional-container  l-proportional-container--3-1  d-bands--bottom  t-{{ page.project }}">
                        <div class="l-proportional-container__content">
                            <div class="u-image-cover  js-image-cover">
                                <div class="u-image-cover__inner">
                                    <img class="u-image-cover__image" src="{{ page.headline_image }}" width="600" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                -->{% endcomment %}


                <div class="c-panel  c-longform-content">

                    {{ content }}

                </div>
            </div>
            {% if page.is_contact == false %}
            <div class="l-primary-content__pull-out  l-primary-content__pull-out--bottom">
                <div class="c-panel">
                    <section class="c-panel--module">
                    
                        <h2>Contact Us</h2>
                        <p><a href="">Contact details</a></p>

                    </section>
                </div>
            </div>            
            {% endif %}
        </div>
        
        {% if page.display_funder %}
        <div class="l-blockrow">
            <div class="l-blockrow__limit-widthX  d-bands--bottom  t-{{ page.project }}">
                <div class="l-col-to-row-wrap">
                    <div class="l-col-to-row">

                        <div class="l-col-to-row__item  ff-width-100--40--66-666">
                            <div class="u-image-cover  u-image-cover--min-30  js-image-cover">
                                <div class="u-image-cover__inner">
                                    <img class="u-image-cover__image" src="/img/{{ page.project }}/baby-asleep-198666544.jpg" width="150" alt="">
                                </div>
                            </div>
                        </div>


                        <div class="l-col-to-row__item  ff-width-100--40--33-333">
                            <div class="c-panel  u-fill-height">
                                {% capture funder_module %}module__funder--{{ page.project }}.html{% endcapture %}
                                {% include {{ funder_module }} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if page.display_social or page.display_support %}
        <div class="l-blockrow">
            <div class="l-blockrow__limit-widthX  d-bands--bottom  t-{{ page.project }} ">
                <div class="l-col-to-row-wrap">
                    <div class="l-col-to-row">
                        <div class="l-col-to-row__item  ff-width-100--45--33-333">
                            <div class="c-panel  t-white  u-fill-height">
                                {% if page.display_social %}
                                {% capture connect_module %}module__connect--{{ page.project }}.html{% endcapture %}
                                {% include {{ connect_module }} %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="l-col-to-row__item  ff-width-100--45--66-666">
                            <div class="c-panel  t-white  u-fill-height">

                                {% if page.display_support %}
                                {% capture support_module %}module__support--{{ page.project }}.html{% endcapture %}
                                {% include {{ support_module }} %}
                                {% endif %}
                            </div>
                        </div>
                        <!--
                        <div class="l-col-to-row__item  ff-width-100--45--33-333">
                            <div class="c-panel  t-white  u-fill-height">

                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
