---
layout: project-structure
---
<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  u-bands--bottom  t-{{ page.project }}">

        <div class="l-content-area{% if page.section_menu %}  l-content-area--has-pull-outs{% endif %}">

            <div class="l-content-area__main">
            
                <!--<div class="l-content-area__pull-out  u-space--below">
                    <div wf-area="white+outline+medium-padding">
                        <h2>Side bar - top section</h2>
                        
                         <p>
                            Suspendisse pellentesque, elit et laoreet gravida, nunc arcu eleifend sem.
                        </p>
                    </div>
                </div>-->
            
                {% comment %}<!-- keep for now
                {% if page.headline_image %}
                <div id="headline_image" class="l-content-area__main__headline_image">
                    <div class="proportional-container  proportional-container--3-1  u-bands--bottom  t-{{ page.project }}">
                        <div class="proportional-container__content">
                            <img class="proportional-container__image-cover" src="{{ page.headline_image }}" width="600" alt="">
                        </div>
                    </div>
                </div>
                {% endif %}
                -->{% endcomment %}
                <div class="c-panel  u-padding--above  u-padding--sides--l  u-space--below  c-longform-content">
                    <h1>{{ page.title }}</h1>
                
                    {{ content }}

                </div>
                
                <!--<div class="l-content-area__pull-out  u-space--below">
                    <div wf-area="white+outline+medium-padding">
                        <h2>Side bar - mid section</h2>
                        
                         <p>
                            Suspendisse pellentesque, elit et laoreet gravida, nunc arcu eleifend sem, luctus pellentesque diam lorem quis justo.
                        </p>
                    </div>
                </div>-->
                    
                <!--<div class="u-space--below">   
                    <h2>Main - bottom section</h2>
                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
                    </p>

                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
                    </p>

                    <p>
                        Maecenas vehicula, felis a tincidunt ultrices, ante velit aliquet lectus, sed sollicitudin libero tellus at elit. Fusce eget quam et tortor gravida hendrerit. In urna libero, vulputate sit amet mauris eget, efficitur luctus tortor.
                    </p>
                   
                </div>-->
                {% if page.section_menu %}
                <div class="l-content-area__pull-out  u-space--below">
                    
                    <div class="c-panel  u-space--below">
                    
                        {% capture section_menu_module %}module__section-menu--{{ page.project }}--{{ page.section_menu }}.html{% endcapture %}
                        {% include {{ section_menu_module }} %}
                    
                    </div>
                
                </div>
                {% endif %}
                
            </div>
            
        </div>
        {% if page.display_funder %}
        <div class="l-blockrow">
            <div class="l-blockrow__limit-widthX  u-bands--bottom  t-{{ page.project }}">
                <div class="l-col-to-row">            
                    
                    <div class="l-col-to-row__item  ff-width-100--40--66-666">
                        <div class="u-image-cover">
                            <div class="u-image-cover__inner">
                                <img class="u-image-cover__image" src="/img/{{ page.project }}/baby-asleep-198666544.jpg" width="150" alt="">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="l-col-to-row__item  ff-width-100--40--33-333">
                        <div class="c-panel  u-fill-height">
                            {% capture funder_module %}module__funder--{{ page.project }}.html{% endcapture %}
                            {% include {{ funder_module }} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if page.display_social or page.display_support %}
        <div class="l-blockrow">
            <div class="l-blockrow__limit-widthX  u-bands--bottom  t-{{ page.project }} ">
                <div class="l-col-to-row">            
                    <div class="l-col-to-row__item  ff-width-100--45--33-333">
                        <div class="c-panel  t-white  u-fill-height">
                            {% if page.display_social %}
                            {% capture connect_module %}module__connect--{{ page.project }}.html{% endcapture %}
                            {% include {{ connect_module }} %}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="l-col-to-row__item  ff-width-100--45--33-333">
                        <div class="c-panel  t-white  u-fill-height">
                            
                            {% if page.display_support %}
                            {% capture support_module %}module__support--{{ page.project }}.html{% endcapture %}
                            {% include {{ support_module }} %}
                            {% endif %}
                        </div>
                    </div>
                   
                    <div class="l-col-to-row__item  ff-width-100--45--33-333">
                        <div class="c-panel  t-white  u-fill-height">
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
