---
layout: project-structure
---
<div class="l-content-area  l-content-area--has-pull-outs">

    <div class="l-content-area__main">
    
        <!--<div class="l-content-area__pull-out  u-space--below">
            <div wf-area="white+outline+medium-padding">
                <h2>Side bar - top section</h2>
                
                 <p>
                    Suspendisse pellentesque, elit et laoreet gravida, nunc arcu eleifend sem.
                </p>
            </div>
        </div>-->
    
        <div class="c-panel  u-padding--above">
        
            <h1>{{ page.title }}</h1>
        
            {{ content }}

        </div>
        
        <!--<div class="l-content-area__pull-out  u-space--below">
            <div wf-area="white+outline+medium-padding">
                <h2>Side bar - mid section</h2>
                
                 <p>
                    Suspendisse pellentesque, elit et laoreet gravida, nunc arcu eleifend sem, luctus pellentesque diam lorem quis justo.
                </p>
            </div>
        </div>-->
            
        <!--<div class="u-space--below">   
            <h2>Main - bottom section</h2>
            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
            </p>

            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
            </p>

            <p>
                Maecenas vehicula, felis a tincidunt ultrices, ante velit aliquet lectus, sed sollicitudin libero tellus at elit. Fusce eget quam et tortor gravida hendrerit. In urna libero, vulputate sit amet mauris eget, efficitur luctus tortor.
            </p>
           
        </div>-->
        
        <!--<div class="l-content-area__pull-out  u-space--below">
            <div wf-area="white+outline+medium-padding">
                <h2>Side bar - bottom section</h2>
                    <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna.
                </p>

                <p>
                    Maecenas vehicula, felis a tincidunt ultrices, ante velit aliquet lectus, sed sollicitudin libero tellus at elit. Fusce eget quam et tortor gravida hendrerit. In urna libero, vulputate sit amet mauris eget, efficitur luctus tortor.
                </p>
               
            </div>
        </div>-->
        
    </div>
    
</div>
