---
layout: project-structure
---
{% assign project_data = site.data.projects[page.project] %}
<div class="l-blockrow  u-fill-area">
    <div class="l-blockrow__limit-width  u-bands--bottom  t-{{ page.project }}  u-fill-area">
        <div class="l-col-to-row  u-fill-area">
            <div class="l-col-to-row__item  ff-width-100--40--66-666">
                <div class="c-panel  u-fill-height  u-padding--sides--l">
                    <div class="u-max-measure">
                        {{ content }}
                        <p>
                            <a href="/{{ page.project }}/parents" class="cta">Find out more <svg display="none" class="icon  feather"><use xlink:href="#icon-chevron-right"></use></svg></a>
                        </p>
                    </div>
                </div><!--
                <div class="embed-container">
                    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Knkl9l8-F34?rel=0" width="560"></iframe>
                </div>
         --></div>
            {% if page.landing_display_signpost_bottom or page.landing_display_signpost_top %}
            <div class="l-col-to-row__item  ff-width-100--40--33-333">
                <div class="margin-boundary  Xu-background  t-{{ page.project }}  u-fill-height">
                    <div class="c-signpost  u-fill-height">
                        {% if page.landing_display_signpost_top %}
                        <div class="c-sign  c-sign--participants  u-background--sloped  t-{{ page.project }}">
                            <a href="/{{ page.project }}/{{ project_data.participants_url }}" class="c-sign__link">
                                <span class="c-sign__centered-content  u-padding--top--l  u-padding--bottom--l">
                                    {{ project_data.participants_svg }}
                                    <span class="c-sign__text  c-sign__text--large">{{ project_data.participants_label }}</span>
                                </span>
                            </a>
                        </div>

                        <div class="c-sign  c-sign--clinicians  u-background--sloped  t-{{ page.project }}">
                            <a href="/{{ page.project }}/clinicians" class="c-sign__link">
                                <span class="c-sign__centered-content  u-padding--top--l  u-padding--bottom--l">
                                    {{ project_data.clinicians_svg }}
                                    <span class="c-sign__text  c-sign__text--large">Clinicians</span>
                                </span>
                            </a>
                        </div>
                        {% endif %}
                        {% comment %}<!--
                        <div class="c-sign  c-sign--contact  u-background--sloped  t-{{ page.project }}">
                            <a href="/{{ page.project }}/contact" class="c-sign__link">
                                <span class="c-sign__centered-content">
                                    {{ project_data.contact_svg }}
                                    <span class="c-sign__text  c-sign__text--large">Contact</span>
                                </span>
                            </a>
                        </div>

                        <div class="c-sign  c-sign--centres  u-background--sloped  t-{{ page.project }}">
                            <a href="/{{ page.project }}/centres" class="c-sign__link">
                                <span class="c-sign__centered-content">
                                    {{ project_data.centres_svg }}
                                    <span class="c-sign__text  c-sign__text--large">Centres</span>
                                </span>
                            </a>
                        </div>
                        -->{% endcomment %}
                        {% comment %}<!--
                        
                            Add a marker to the meter with the number.
                            ALSO: it's possible that a trial might not have a target, if that's the 
                            case then skip the (Target: XX) and the meter completely.
                        
                        -->{% endcomment %}
                        {% if page.landing_display_signpost_bottom %}
                        <div class="c-sign  c-sign--span-all  u-background--sloped  t-{{ page.project }}--alt">
                            <a href="/{{ page.project }}/recruitment" class="c-sign__link">
                                <span class="c-sign__centered-content">
                                    <span class="l-col-to-row">
                                        <span class="l-col-to-row__item  ff-width-100--30--50">
                                            <span class="c-sign__text  c-sign__text--large">Recruitment total: 175</span><br>
                                            <span class="c-sign__text  c-sign__text--small">(Target: 1020)</span>
                                            <span class="c-meter   t-{{ page.project }}"><meter min="0" max="1020" value="175"></meter><span class="c-meter__value" style="width: 17.07%;"></span></span>
                                        </span>
                                        <span class="l-col-to-row__item  ff-width-100--30--50  u-padding--sides--xs">
                                            <span class="c-sign__text  c-sign__text">The latest infant was recruited at <b>Princess Anne Hospital, Southampton</b> on <b>13 February 2019</b></span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if page.landing_display_video and project_data.intro_video_id %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-width  u-bands--bottom  t-{{ page.project }}">
        <div class="embed-container">
            <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/{{ project_data.intro_video_id }}?rel=0" width="560"></iframe>
        </div>
    </div>
</div>
{% endif %}
{% if page.landing_display_updates %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-width  u-bands--bottom  t-{{ page.project }}">
        {% capture news_module %}module__news--{{ page.project }}.html{% endcapture %}
        {% include {{ news_module }} %}
    </div>
</div>
{% endif %}
{% if page.display_funder %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-width  u-bands--bottom  t-{{ page.project }}">
        <div class="l-col-to-row">            
            
            <div class="l-col-to-row__item  ff-width-100--40--66-666">
                <div class="u-image-cover">
                    <div class="u-image-cover__inner">
                        <img class="u-image-cover__image" src="/img/{{ page.project }}/baby-asleep-198666544.jpg" width="150" alt="">
                    </div>
                </div>
            </div>
            
            
            <div class="l-col-to-row__item  ff-width-100--40--33-333">
                <div class="c-panel  u-fill-height">
                    {% capture funder_module %}module__funder--{{ page.project }}.html{% endcapture %}
                    {% include {{ funder_module }} %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if page.landing_display_info or page.display_social or page.display_support %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-width  u-bands--bottom  t-{{ page.project }} ">
        <div class="l-col-to-row">            
            {% if page.landing_display_info %}
            <div class="l-col-to-row__item  ff-width-100--40--50">
                <div class="c-panel  t-white  u-fill-height">
                    <section class="c-panel--module">
                        <h2>Trial Information</h2>
                        <div class="u-space--below">
                            <dl class="dl-2-col">
                                <dt>EudraCT No.:</dt>
                                <dd>N/A</dd>
                                <dt>REC Reference:</dt>
                                <dd>18/SC/0222</dd>
                                <dt>ISRCTN:</dt>
                                <dd>14040914</dd>
                                <dt>Clinical Trials Unit:</dt>
                                <dd>National Perinatal Epidemiology Unit CTU</dd>
                                <dt>Sponsor:</dt>
                                <dd>University of Oxford</dd>
                                <dt>Funder:</dt>
                                <dd>NIHR Health Technology Assessment (HTA) Programme</dd>
                                <dt>Recruitment Target:</dt>
                                <dd>1,020</dd>
                                <dt>Duration of Study:</dt>
                                <dd>September 2017 - August 2020</dd>
                            </dl>
                        </div>
                    </section>
                </div>
            </div>
            {% endif %}
            
            <div class="l-col-to-row__item  ff-width-100--40--50">
                <div class="c-panel  t-white  u-fill-height">
                    {% if page.display_social %}
                    {% capture connect_module %}module__connect--{{ page.project }}.html{% endcapture %}
                    {% include {{ connect_module }} %}
                    {% endif %}
                    
                    {% if page.display_support %}
                    {% capture support_module %}module__support--{{ page.project }}.html{% endcapture %}
                    {% include {{ support_module }} %}
                    {% endif %}
                </div>
            </div>
           
        </div>
    </div>
</div>
{% endif %}