---
layout: structure
---
    {% assign project_data = site.data.projects[page.project] %}
    <div class="sticky-footer-wrap  limit-page-width">

        <header class="c-page-header  t-{{ page.project }}  d-bands--bottom">
            
            <div class="u-padding--bottom--s">
                <div class="l-col-to-row">
                    <div class="l-col-to-row__item  ff-width-100--40--50  u-text-align--left  c-page-header__first  u-padding--top--s  u-padding--sides--s">
                        <a href="/{{ page.project }}" class="c-badge  c-page-header__primary-logo">
                            {{ project_data.logo_svg }}
                        </a>
                    </div>

                    <!--<div class="l-col-to-row__item  ff-width-100--40--50  l-v-center  u-text-align--right  c-page-header__last">-->
                    <div class="l-col-to-row__item  ff-width-100--40--50  l-distribute  u-padding--top--s  u-padding--sides--s">
                        {% if page.display_navbar %}
                        <span>
                            <button class="over-panel-control" hidden aria-controls="menu-panel" aria-label="Main menu" aria-expanded="false" data-js="overpanel__control">
                                <svg display="none" class="icon  icon--is-closed  feather"><use xlink:href="#icon-menu"></use></svg><svg display="none" class="icon  icon--is-open  feather"><use xlink:href="#icon-cross"></use></svg>
                            </button>
                        </span>
                        {% endif %}
                        {% if page.display_cta %}
                        <span>
                            <a href="/{{ project_data.randomisation_url }}" class="c-primary-cta  t-{{ page.project }}">Randomise to {{ project_data.name }}</a>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% if page.display_navbar %}
                {% capture navbar %}header__navbar--{{ page.project }}.html{% endcapture %}
                {% include {{ navbar }} %}
            {% endif %}
        </header>
        
        
        {% if page.display_hero and page.hero_image %}
        <div id="hero" class="c-hero">
            <div class="c-hero__image">
                <div class="proportional-container  proportional-container--5-1  d-bands--bottom  t-{{ page.project }}  hero-image">
                    <div class="proportional-container__content">
                        <img class="proportional-container__image-cover" src="{{ page.hero_image }}" width="600" alt="">
                    </div>
                </div>
            </div>
            {% if page.hero_message %}
            <div class="c-hero__message">
                {% if page.is_home %}
                <h1>{{ page.hero_message }}</h1>
                {% else %}
                <p><b>{{ page.hero_message }}</b></h1>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        
        <div class="sticky-footer-expand  Xt-white  Xd-background">
            <main role="main" class="main-container  Xd-background--very-dark  Xt-{{ page.project }}  Xu-fill-area">
                {{ content }}
            </main>
        </div>

        <footer class="sticky-footer  t-{{ page.project }}  d-bands--top" role="contentinfo">
            <div class="Xd-background  Xt-white">
                <div class="l-distribute">

                    <div class="u-padding--s">
                        
                        {% if page.npeu_unit == "ctu" %}
                        <a href="https://www.npeu.ox.ac.uk/ctu" class="c-badge  npeu  l-v-center">
                            <img src="/img/unit-logos/npeu-ctu-logo.svg" onerror="this.src='/img/unit-logos/npeu-ctu-logo.png'; this.onerror=null;" alt="Logo: NPEU CTU" height="80">
                        </a>
                        {% else %}
                        <a href="https://www.npeu.ox.ac.uk/" class="c-badge  npeu  l-v-center">
                            <img src="/img/unit-logos/npeu-logo.svg" onerror="this.src='/img/unit-logos/npeu-logo.png'; this.onerror=null;" alt="Logo: NPEU" height="80">
                        </a>
                        {% endif %}
                    </div>

                    <div class="u-padding--s">
                        <a href="https://www.npeu.ox.ac.uk" class="c-badge  athena-swan  l-v-center" rel="external noopener noreferrer" target="_blank">
                            <img src="/img/affiliate-logos/athena-swan-silver-award.svg" onerror="this.src='/img/affiliate-logos/athena-swan-silver-award.png'; this.onerror=null;" alt="Logo: Athena Swan Silver Award" height="70">
                        </a>
                    </div>
                    
                    <div class="u-padding--s">
                        <a href="http://www.ndph.ox.ac.uk/" class="c-badge  ndph  l-v-center" rel="external noopener noreferrer" target="_blank">
                            <img src="/img/affiliate-logos/ndph-logo.svg" onerror="this.src='/img/affiliate-logos/ndph-logo.png'; this.onerror=null;" alt="Logo: Nuffield Department of Population Health" height="50">
                        </a>
                    </div>

                    <div class="u-padding--s">
                        <a href="http://www.ox.ac.uk/" class="c-badge  ou  l-v-center" rel="external noopener noreferrer" target="_blank">
                            <img src="/img/affiliate-logos/ou-logo-rect.svg" onerror="this.src='/img/affiliate-logos/ou-logo-rect.png'; this.onerror=null;" alt="Logo: University of Oxford" height="60">
                        </a>
                    </div>

                </div>

                <p class="c-page-footer  u-text-align--center">
                    &copy; NPEU {{ site.time | date: '%Y'}}
                </p>
            </div>
        </footer>

    </div>