---
layout: structure
---
<div class="sticky-footer-wrap  limit-page-width  d-backgroundX  t-whiteX">
    <header class="u-padding--s">

        <h1 class="">{{ page.title }}</h1>
        
        <nav>
            <p>
                <a href="/patterns">Back to Patterns</a>
            </p>
        </nav>

    </header>

    

    <div class="sticky-footer-expand  Xt-white  Xd-background">

        <main role="main" class="main-container  Xd-background--very-dark  Xt-{{ page.project }}  Xu-fill-area">
            {{ content }}
        </main>

    </div>

</div>