---
layout: structure--pattern
title: NPEU Component Patterns
project_base_url: patterns
---
<h2 class="u-padding--s">Hero</h2>

<div id="hero" class="c-hero  d-bands--top  d-bands--bottom">
    <div class="c-hero__image">
        <div class="l-proportional-container  l-proportional-container--5-1  hero-image">
            <div class="l-proportional-container__content">
                <img src="/img/patterns/placeholder-1.jpg" alt="" class="l-proportional-container__image-cover">
            </div>
        </div>
    </div>
    
    <div class="c-hero__message">
        
        <h1>Hero message or statement. Word count should be around 8-12 words.</h1>
        
    </div>
    
</div>

<div id="hero" class="c-hero  c-hero--reversed  d-bands--top  d-bands--bottom">
    <div class="c-hero__image">
        <div class="l-proportional-container  l-proportional-container--5-1  hero-image">
            <div class="l-proportional-container__content">
                <img src="/img/patterns/placeholder-2.jpg" alt="" class="l-proportional-container__image-cover">
            </div>
        </div>
    </div>
    
    <div class="c-hero__message">
        
        <h1>Hero message or statement. Word count should be around 8-12 words.</h1>
        
    </div>
    
</div>

<h2 class="u-padding--s">Card</h2>

<div class="u-padding">
    <div class="c-card">
        <div class="c-card__image">
            <div class="l-proportional-container  l-proportional-container--3-1">
                <div class="l-proportional-container__content">
                    <img src="/img/patterns/placeholder.jpg" alt="" class="l-proportional-container__image-cover">
                </div>
            </div>
        </div>
        <div class="c-card__main">
            <h2 class="c-card__title">Card Title</h2>
            <div class="c-card__body">
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim.
                </p> 
            </div>
            <div class="c-card__footer  u-text-align--right">
                <a href="#" class="cta">Trials <svg display="none" class="icon  feather"><use xlink:href="#icon-chevron-right"></use></svg></a>
            </div>
        </div>
    </div>
</div>

<h2 class="u-padding--s">Card - no image</h2>

<div class="u-padding">
    <div class="c-card">
        <div class="c-card__main">
            <h2 class="c-card__title">Card Title</h2>
            <div class="c-card__body"> 
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim.
                </p> 
            </div>
            <div class="c-card__footer  u-text-align--right">
                <a href="#" class="cta">Trials <svg display="none" class="icon  feather"><use xlink:href="#icon-chevron-right"></use></svg></a>
            </div>
        </div>
    </div>
</div>

<h2 class="u-padding--s">Card - allow wide</h2>

<div class="u-padding">
    <div class="c-card  c-card--allow-wide">
        <div class="c-card__image">
            <div class="l-proportional-container  l-proportional-container--3-1">
                <div class="l-proportional-container__content">
                    <img src="/img/patterns/placeholder.jpg" alt="" class="l-proportional-container__image-cover">
                </div>
            </div>
        </div>
        <div class="c-card__main">
            <h2 class="c-card__title">Card Title</h2>
            <div class="c-card__body">
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim.
                </p> 
            </div>
            <div class="c-card__footer  u-text-align--right">
                <a href="#" class="cta">Trials <svg display="none" class="icon  feather"><use xlink:href="#icon-chevron-right"></use></svg></a>
            </div>
        </div>
    </div>
</div>

<h2 class="u-padding--s">Card - themed content - (Featured news)</h2>

<div class="u-padding">
    <div class="c-card  c-card--themed-content">
        <div class="c-card__image">
            <div class="l-proportional-container  l-proportional-container--3-1">
                <div class="l-proportional-container__content">
                    <img src="/img/patterns/placeholder.jpg" alt="" class="l-proportional-container__image-cover">
                </div>
            </div>
        </div>
        <div class="c-card__main">
            <h2 class="c-card__title">Card Title</h2>
            <div class="c-card__body">
                <p>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim.
                </p> 
            </div>
            <div class="c-card__footer">
                <p class="c-card__info  u-text-group  u-text-group--wide-space">
                    <span class="u-text-group"><span>Published on: </span><span>18 June 2018 10:11</span></span>
                    <span class="u-text-group"><span>Published in: </span><span>Quite a long category name category name to test wrapping</span></span>
                </p>
            </div>
        </div>
    </div>
</div>

<h2 class="u-padding--s">Card - themed content (News stub)</h2>

<div class="u-padding">
    <div class="c-card  c-card--themed-content">
        <div class="c-card__main">
            <h2 class="c-card__title">Card Title</h2>
            <div class="c-card__footer">
                <p class="c-card__info  u-text-group  u-text-group--wide-space">
                    <span class="u-text-group"><span>Published on: </span><span>18 June 2018 10:11</span></span>
                    <span class="u-text-group"><span>Published in: </span><span>Quite a long category name category name to test wrapping</span></span>
                </p>
            </div>
        </div>
    </div>
</div>

<h2 class="u-padding--s">Brochure</h2>

<p>Note that this pattern does not introduce any new classes, it's built entirely from existing ones.</p>
 
<div class="u-padding--top  u-padding--bottom">
    <section class="l-col-to-row  d-bands--bottom  d-bands--top">
        <div class="l-col-to-row__item  ff-width-100--60--50">
            <div class="c-panel  u-padding--sides--l">
                <div class="u-max-measure">
                    <h2>
                        This is a Heading
                    </h2>

                    <p>
                        Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                    </p>
                    <p>
                        Vivamus aliquet turpis at magna finibus mollis. Vivamus pretium augue neque, ac ornare felis eleifend et. Pellentesque convallis, ex eget egestas fringilla, diam ex vulputate diam, eu condimentum nisi sapien in neque.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-col-to-row__item  ff-width-100--60--50">
            <div class="u-image-cover  u-image-cover--min-20">
                <div class="u-image-cover__inner">
                    <img src="/img/patterns/placeholder.jpg" alt="" class="u-image-cover__image">
                </div>
            </div>
        </div>
    </section>
</div>
<div class="u-padding--top  u-padding--bottom">
    <section class="l-col-to-row  l-col-to-row--reversed  d-bands--bottom  d-bands--top">
        <div class="l-col-to-row__item  ff-width-100--60--50">
            <div class="c-panel  u-padding--sides--l">
                <div class="u-max-measure">
                    <h2>
                        Another Heading
                    </h2>

                    <p>
                        Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-col-to-row__item  ff-width-100--60--50">
            <div class="u-image-cover  u-image-cover--min-20">
                <div class="u-image-cover__inner">
                    <img src="/img/patterns/placeholder.jpg" alt="" class="u-image-cover__image">
                </div>
            </div>
        </div>
    </section>
</div>

<h2 class="u-padding--s">Featurette</h2>

<div class="u-padding">
    <section class="c-featurette  c-featurette">
        <div class="text-content  c-featurette__body  c-featurette__body--80">
            <h2>
                Featurette Title
            </h2>

            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna. Fusce faucibus massa eget laoreet posuere.
            </p>
        </div>
        <div class="feature-image  c-featurette__image">            
            <div class="l-proportional-container  l-proportional-container--3-1  l-proportional-container--4-3--wide">
                <div class="l-proportional-container__content">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none"><rect x="0" y="0" width="100%" height="100%" fill="#aaa"></rect><g stroke-width="1px" stroke="#444" ><line x1="0" y1="0" x2="1" y2="1" vector-effect="non-scaling-stroke"/><line x1="1" y1="0" x2="0" y2="1" vector-effect="non-scaling-stroke"/></g></svg>
                </div>
            </div>
        </div>
    </section>
</div>

<h2 class="u-padding--s">Featurette (Dark - e.g. Power Quote)</h2>

<div class="u-padding">
    <section class="c-featurette  c-featurette  t-featurette--dark">
        <div class="text-content  c-featurette__body  c-featurette__body--80">
            <h2>
                Featurette Title
            </h2>

            <blockquote>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna. Fusce faucibus massa eget laoreet posuere.
            </blockquote>
            <cite>&mdash; Person name</cite>
        </div>
        <div class="feature-image  c-featurette__image">
            <div class="l-proportional-container  l-proportional-container--1-1">
                <img src="/img/patterns/placeholder-person.jpg" alt="" class="l-proportional-container__image-cover">
            </div>
        </div>
    </section>
</div>

<h2 class="u-padding--s">Featurette (Dark - e.g. Notice)</h2>

<div class="u-padding">
    <section class="c-featurette  c-featurette  t-featurette--dark  u-text-align--center">
        <div class="text-content  c-featurette__body  c-featurette__body--fill">
            <h2>
                Featurette Title
            </h2>

            <p>
                <a href="#">Read the notice</a>
            </p>
        </div>
    </section>
</div>


<h2 class="u-padding--s">Event</h2>

<div class="u-padding" wf-area="light+outline">
    <div class="c-event">
        <h3 class="c-event__title">Event Title</h3>
        <p class="c-event__speaker">
            Event Speaker
        </p>
        <p class="c-event__speaker-role">
            Event speaker role / job title
        </p>
        <p class="c-event__datetime">
            August: Wednesday 1<sup>st</sup>, 11:30 &ndash; 12:30
        </p>
        <span class="c-event__action">+ Add to Calendar</span>
    </div>
</div>


<h2 class="u-padding--s">Glimpse</h2>

<div class="u-padding" wf-area="light+outline">
    <div class="c-glimpse">
        <h3 class="c-glimpse__heading">
            <a href="#">
                <span>Headline</span>
                <div class="c-glimpse__image">
                    <div wf-box>
                        <div class="l-proportional-container  l-proportional-container--1-1"></div>
                    </div>
                </div>
            </a>
        </h3>
        <div class="c-glimpse__content">
            <p>Just a glimpse at what's inside...</p>
        </div>
    </div>
</div>

<div class="u-padding" wf-area="light+outline">
    <div class="c-glimpse">
        <h3 class="c-glimpse__heading">
            <a href="#">
                <span>Person Name</span>
                <div class="c-glimpse__image">
                    <img src="/img/patterns/placeholder-person.jpg" alt="" class="l-proportional-container__image-cover">
                </div>
            </a>
        </h3>
        <div class="c-glimpse__content">
            <p>Job title</p>
        </div>
    </div>
</div>


<hr>
<hr>